html {
  font-size: 12px;
  font-family: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #f4f5f5;
}

body {
  margin: 0;
  overflow: scroll;
  background-color: #568fff;
  line-height: normal;
}

.lottery button {
  appearance: none;
  background-color: #007fff;
  color: #fff;
  border-radius: 2px;
  border: none;
  padding: .5rem 1.3rem;
  outline: none;
  transition: background-color .3s,color .3s;
  cursor: pointer;
}

.lottery-box * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lottery-box {
  flex: 0;
}

.lottery {
  min-height: calc(100vh - 108px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 946px;
  background: #568fff;
  border-radius: 2px;
  overflow: hidden;
}

.lottery>img {
  position: absolute;
  background: #2c68ff;
  top: 0;
  left: 0;
  width: 100%;
  /* animation: byte-skeleton-loading 1.4s ease infinite; */
}

.lottery>.header {
  position: relative;
  padding-top: 82px;
  z-index: 9;
}

.lottery>.header .words {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #e8f3ff;
  text-shadow: 0 2px 2px rgb(0 0 0 / 24%);
  margin: 24px 0 0;
}

.lottery>.header>img {
  display: block;
  margin-left: 254px;
  width: 500px;
}

.lottery>.main {
  position: relative;
  z-index: 9;
  padding: 40px 32px 72px;
}

.lottery>.main>.title {
  position: relative;
  padding-left: 20px;
  font-size: 20px;
  line-height: 28px;
  color: #fadd95;
  margin: 0;
}
.lottery>.main>.title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 8px;
  height: 20px;
  display: block;
  border-radius: 50px;
  background: #e37815;
}

.lottery>.main>.box {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.lottery>.main .left-box {
  width: 486px;
  flex-shrink: 0;
  margin-right: 32px;
}

.lottery>.main .left-box>.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.lottery>.main .left-box>.header>.value {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.lottery>.main .left-box>.header>.signin {
  line-height: 40px;
  padding: 0 24px;
  background: rgba(255,215,147,.3);
  border-radius: 50px;
  font-size: 16px;
  color: #c9cdd4;
  cursor: pointer;
}

.lottery .awards-box {
  background: #fadd95;
  box-shadow: inset 0 0 16px #ff9a2e;
  border-radius: 12px;
  box-sizing: border-box;
  position: relative;
  padding: 24px;
  width: 100%;
  height: 396px;
}

.lottery .awards-box .container {
  width: 100%;
  height: 100%;
  background: #e37815;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  position: relative;
}

.lottery .awards-box button {
  width: 130px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: none;
  background: #fdf3f3;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lottery .awards-box button img {
  height: 50px;
  width: 72px;
  max-width: 40px;
  max-height: 40px;
}

.lottery #lottery-btn {
  width: 130px;
  height: 100px;
  position: absolute;
  left: 154px;
  top: 124px;
  background: #ffe6a6;
  box-shadow: inset 0 0 16px #ffa800;
  cursor: pointer;
}

.lottery .awards-box button p,
.lottery #lottery-btn p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #d25f00;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lottery #lottery-btn p:nth-child(1) {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  color: #a74b00;
}

.lottery>.main .right-box {
  width: 364px;
  flex-shrink: 0;
  margin-top: 12px;
}

.lottery>.main .right-box>p {
  line-height: 40px;
  position: relative;
  padding-left: 20px;
  font-size: 20px;
  line-height: 28px;
  color: #fadd95;
  margin: 0;
}
.lottery>.main .right-box>p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 8px;
  height: 20px;
  display: block;
  border-radius: 50px;
  background: #e37815;
}

.lottery>.main .results-box {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 24px;
  background: rgba(255,247,232,.3);
  border-radius: 12px;
  padding: 8px 16px;
  height: 395px;
  overflow: scroll;
}

.lottery>.main .results-box p {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  line-height: 24px;
  color: #fadd95;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.lottery .award-btn3 {
  position: absolute;
  top: 124px;
  left: 292px;
}
.lottery .award-btn5 {
  position: absolute;
  top: 232px;
  left: 292px;
}
.lottery .award-btn6 {
  position: absolute;
  top: 232px;
  left: 154px;
}
.lottery .award-btn7 {
  position: absolute;
  top: 232px;
}
.lottery .award-btn8 {
  position: absolute;
  top: 124px;
}
.lottery .active-btn {
  background-color: #f7c38b !important;
}

.lottery .info-box {
  width: 400px;
  z-index: 1007;
  position: fixed;
  top: 50%;
  left: calc(50% - 200px);
  transform: translateY(-50%);
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
  color: #282f38;
}

.lottery .info-box .header {
  line-height: 56px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px;
  border-bottom: solid 1px #e5e6eb;
}

.lottery .info-box .header span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1d2129;
}

.lottery .info-box .main {
  /* margin-top: 30px; */
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
}

.lottery .info-box .main .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lottery .info-box .main .box img {
  height: 88px;
  margin-top: 36px;
  margin-bottom: 20px;
}
.lottery .info-box .main .title {
  /* margin-bottom: 10px; */
  /* font-size: 16px; */
  padding-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #d25f00;
  opacity: .8;
}
.lottery .info-box .main .content {
  margin: 0;
  padding-top: 8px;
  font-size: 14px;
  line-height: 22px;
  color: #1d2129;
}
.lottery .info-box button {
  margin-top: 32px;
  margin-bottom: 40px;
  padding: 0;
  width: 200px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #1d7dfa;
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
}